/* global */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #000000;
  color: #fff;
  /*font: 1.0em 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400
  line-height: 1.5em;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2.0em;
  font-weight: 500;
  text-align: center;
}

a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 2.0em 0;
}

li {
  margin: 0.75em 0;
  padding-left: 2.0em;
  text-indent: -2.0em;
}

li:before {
  float: left;
  padding-right: 2.0em;
}

li.home:before {
  content: '-';
}

li.project:before {
  content: '.';
}

li.work:before {
  content: '-';
}

li.schools:before {
  content: '-'
}

li.from:before {
  content: '.';
}

li.sports:before {
  content: '.';
}

li.apps:before {
  content: '.';
}

li.likes:before {
  content: '.';
}

/* desktop */

@media only screen and (min-width: 768px) {
  #body {
    margin: 5.5em auto;
    text-align: left;
    width: 30.0em;
  }
}

/* mobile */

@media only screen and (max-width: 767px) {
  #body {
    margin: 5.5em 1.0em;
    text-align: left;
  }
}
